.main {
    background-color: #fff;
    height: 80vh;
    border-radius: 10px;
    box-shadow: 0 2px 5px 1px rgba(64,60,67,.16);
    padding: 20px;
}
.inputDiv {
    width: 1000px;
    height: 85%;

}
.title {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.titleChilde {
    display: flex;

}
.title svg {
    width: 20px;
    
}
.title h3 {
    margin: 0;
    margin-right: 5px;
}
.main textarea {
    width:100%;
    height: 100%;
    border: 0;
    resize: none;
    outline: 0;
}
.main textarea:focus {
    border: 0;
    outline: 0;
}
.main textarea::-webkit-scrollbar-thumb {
    background-color:#aaaaaac7;
    border-radius: 10px;
}
.main textarea::-webkit-scrollbar {
    background:none;
    resize: none;
    width: 2px;
}
.main textarea::-webkit-scrollbar-corner {
    background:none;
    resize: none;
}
.bottomSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10%;
    padding: 5px;
}

.bottomSection button {
    width: 70px;
    text-align: center;
    cursor: pointer;
    padding: 10px;
    background: linear-gradient(#7cfa56 , #51fc8a);
    border: 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px 1px rgba(64,60,67,.16);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.delete {
    background: linear-gradient(#fa5656 , #fc5176) !important; 
}
.delete:hover {
    background: linear-gradient(#f84444 , #db3459) !important;
}
.save:hover {
    background: linear-gradient(#5fff2f , #37e972);
}